/* estilo do conteiner da live iframe */
.liveiframe{
    max-width: 400px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 1px 5px #2e2e2e;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px;
}
/* configurações de largura do iframe ao vivo */
.liveiframe iframe{
    width: 300px; 
    height: 300px;
    border-radius: 5px;
}
.aovivo{
    color: whitesmoke;
    background-color: rgb(202, 26, 26);
    max-width: 80px;
    padding: 5px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
}
/* configurações do titulo da live */
.tituloiframe{
    margin: 5px auto;
}
.descricao{
    max-width: 300px;
    margin: 5px auto;
    font-size: 12px;
}
/* configurações dos patrocinadores dentro do conteiner do iframe */

.patrocinadores{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 2px;
    max-width: 350px;
    margin: 5px auto;
    margin-bottom: 10px;
}
.patrocinadores img{
    max-width: 50px;
}

.aviso{
    font-size: 12px;
}
.aviso span{
    color: rgb(202, 26, 26);
}
.aviso a{
    text-decoration: none;
    color: rgb(33, 33, 252);
}

/* estilo da area do podcast anteriores */
.section-anteriores{
    margin-top: 100px;
}
.titulosectionanteriores{
    text-align: center;
}
.iframeanteriores{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.conteiner-anterios{
    border-bottom: 1px solid grey;
}
.conteiner-anterios iframe{
    width: 300px;
    height: 300px;
    border-radius: 5px;
}
.conteiner-anterios p{
    font-size: 12px;
    text-align: center;
}
@media (max-width: 858px){
    .iframeanteriores{
        gap: 40px;
    }
}